<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

	<properties resource="jdbc.properties"></properties>
	<settings>
		<setting name="logImpl" value="LOG4J" />
		<setting name="defaultEnumTypeHandler" value="org.apache.ibatis.type.EnumOrdinalTypeHandler" />
	</settings>

	<typeAliases>
		<typeAlias alias="uuid" type="java.util.UUID" />
		<typeAlias alias="User" type="tech.yhao.evalib.core.model.User" />
		<typeAlias alias="Evaluation" type="tech.yhao.evalib.core.model.Evaluation" />
	</typeAliases>

	<typeHandlers>
		<typeHandler handler="tech.yhao.evalib.mybatis.type.UUIDTypeHandler" />
	</typeHandlers>

	<mappers>
		<mapper resource="tech/yhao/evalib/mybatis/mapper/UserDao.xml" />
		<mapper resource="tech/yhao/evalib/mybatis/mapper/ChoiceQuestionDao.xml" />
		<mapper resource="tech/yhao/evalib/mybatis/mapper/EvaluationDao.xml" />
	</mappers>
</configuration>