<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="tech.yhao.evalib.dao.QuestionOptionMapper">
	<insert id="insert" useGeneratedKeys="true" keyProperty="id"
		keyColumn="id">
		insert into
		t_choice_question_option(choice_question_id,
		description, created_at,
		updated_at, created_by) values(
		#{questionId},
		#{questionOption.description}, now(), now(),
		#{questionOption.createdBy}
		)
	</insert>

	<delete id="deleteById">
		delete from t_choice_question_option where id=#{id}
	</delete>

	<delete id="deleteByQuestionId">
		delete from t_choice_question_option where
		choice_question_id=#{id}
	</delete>

	<update id="update">
		update t_choice_question_option set
		description=#{description}
	</update>

	<select id="queryByQuestionId">
		select id, description, created_at as createdAt,
		updated_at as updatedAt,
		created_by as createdBy from
		t_choice_question_option where choice_question_id=#{questionId}
	</select>

</mapper>