<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="tech.yhao.evalib.mybatis.mapper.UserMapper">
	<sql id="userColumns">
		id, name,
		description, created_at as
		createdAt,
		updated_at as
		updatedAt
	</sql>

	<insert id="insert" parameterType="User" useGeneratedKeys="true"
		keyProperty="id" keyColumn="id">
		insert into t_user(name,
		description,
		created_at, updated_at)
		values(#{name}, #{description},
		now(), now())
	</insert>


	<insert id="delete" parameterType="uuid">
		delete from t_user where
		id=#{userId}
	</insert>

	<select id="listAll" resultType="User">
		select
		<include refid="userColumns"></include>
		from t_user
	</select>

	<select id="findById" parameterType="uuid" resultType="User">
		select
		<include refid="userColumns"></include>
		from t_user
		where id=#{id}
	</select>

	<select id="findByName" parameterType="string" resultType="User">
		select
		<include refid="userColumns"></include>
		from
		t_user
		where name=#{name}
	</select>
</mapper>